.footer {
    height: 180px;
    width: 100%;
    display: flex;
    font-size: var(--font-size-14);
    margin: var(--spacing-16);
    color: var(--text-secondary-color)
}

.footer-container {
    margin-left: var(--spacing-16);
}

.footer-description {
    margin:0;
}

.footer-description p {
    margin: 0;
    margin-top: 5px;
}